.pro_car{
    margin: 0px !important;
    position: relative;
    top: 5px !important;
    bottom: 0px !important;
    height: 235px !important;
}

.pro_footer{
    height: 70px !important;
}
.pro_body{
    height: 150px !important;
}